.about-me {
    text-align: justify;
    line-height: 2.0rem;

    margin-top: 3rem;
    margin-inline: auto;
}

.about-me-block {
    line-height: 1.6rem;

    border: 1px solid var(--bs-dark);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
}

.in-progress-img {
    filter: grayscale(100%) brightness(70%);
    opacity: 0.6;
}

.carousel-img {
    height: 200px;
    width: auto;
    margin: 0 auto;
}