<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <style>
        div.project {
            border: 1px solid blue;
            padding: 1rem;
            margin-bottom: 1rem;
        }
        p.project-category {
            color: darkgreen;
            background-color: darkgrey;

            font-family: monospace;
            font-size: 1.2rem;

            display: inline;
            border-radius: 0.5rem;
            padding: 0.2rem;
        }
        img {
            width: 20vw;
        }
    </style>
</head>
<body>

{% for project in projects %}
    <div class="project">
        <h1>{{ project.title }}</h1>
        <p class="project-category">{{ project.category }}</p>
        <p>{{ project.description }}</p>

        <div>
        {% if project.cover_image %}
            <img src="{{ project.cover_image.url }}" alt="{{ project.title }}">
        {% endif %}
        </div>

        <a href="{% url 'project_detail' project.id %}">Go to project page.</a>
    </div>
{% endfor %}

</body>
</html>