 d{% extends 'projects/base.html' %}

{% block content %}

<div class="row g-3">
{% for project in projects %}
    <div class="col-md-4 d-flex">
        <div class="card h-100">
            {% if project.cover_image %}
                <img class="card-img-top" src="{{ project.cover_image.url }}" alt="{{ project.title }}">
            {% else %}
                <img class="card-img-top"
                     src="https://dummyimage.com/400x600/ccc/fff.png&text=Not+available"
                     alt="{{ project.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }} <span class="badge text-bg-primary">{{ project.category }}</span></h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.id %}" class="btn btn-outline-secondary">Go to project page.</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}