{% extends "projects/base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-3">
            {% if project.cover_image %}
                <img class="img-thumbnail"
                     src="{{ project.cover_image.url }}"
                     alt="{{ project.title }}">
            {% else %}
                <img class="img-fluid"
                     src="https://dummyimage.com/400x600/ccc/fff.png&text=Not+available"
                     alt="{{ project.title }}">
            {% endif %}
        </div>
        <div class="col-md-9">
            <p>
                {% for category in project.categories.all %}
                <span class="badge" style="
                    background-color: {{ category.color }};
                    color: #ffffff;">
                {{ category.name }}</span>
                {% endfor %}
            </p>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description|safe }}</p>
        </div>
    </div>
    <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for img in project.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %} text-center">
                    <img src="{{ img.image.url }}" class="carousel-img img-thumbnail" alt="">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
{% endblock %}