{% extends "projects/base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-3">
            {% if project.cover_image %}
                <img class="img-thumbnail"
                     src="{{ project.cover_image.url }}"
                     alt="{{ project.title }}">
            {% else %}
                <img class="img-fluid"
                     src="https://dummyimage.com/400x600/ccc/fff.png&text=Not+available"
                     alt="{{ project.title }}">
            {% endif %}
        </div>
        <div class="col-md-9">
            <p>
                {% for category in project.categories.all %}
                <span class="badge" style="
                    background-color: {{ category.color }};
                    color: #ffffff;">
                {{ category.name }}</span>
                {% endfor %}
            </p>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description|safe }}</p>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        {% for img in project.images.all %}
            <div class="col-2">
                <img class="img-thumbnail" src="{{ img.image.url }}" alt="">
            </div>
        {% endfor %}
    </div>

{% endblock %}